babel
gitpython
jinja2
markdown
markupsafe
pillow
pynacl
pyqt5
pyqt5-sip
pyqtwebengine
pysocks
pyyaml
pygments
pympler
qdarkstyle
qtawesome
qtpy
rtree
sphinx
unidecode
werkzeug
absl-py
alabaster
altair
arrow
astroid
asttokens
astunparse
atomicwrites
attrs
autopep8
backcall
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
brotlipy
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
comm
contourpy
cookiecutter
cryptography
cycler
debugpy
decorator
defusedxml
diff-match-patch
dill
docstring-to-markdown
docutils
entrypoints
executing
fastjsonschema
filelock
flake8
flatbuffers
fonttools
gast
gdown
gitdb
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
imagesize
importlib-metadata
inflection
intervaltree
ipykernel
ipython
ipython-genutils
isort
jaraco.classes
jax
jedi
jellyfish
jinja2-time
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
keras
keyring
kiwisolver
lazy-object-proxy
libclang
lxml
markdown-it-py
matplotlib
matplotlib-inline
mccabe
mdurl
mistune
ml-dtypes
more-itertools
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
nltk
numpy
numpydoc
oauthlib
opt-einsum
packaging
pandas
pandocfilters
paramiko
parso
pathspec
pexpect
pickle-mixin
pickleshare
pip
platformdirs
pluggy
ply
poyo
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyopenssl
pyarrow
pyasn1
pyasn1-modules
pycodestyle
pycparser
pydeck
pydocstyle
pyflakes
pylint
pylint-venv
pyls-spyder
pyparsing
pyrsistent
python-dateutil
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
pytoolconfig
pytz
pywin32
pywin32-ctypes
pyzmq
qstylizer
qtconsole
regex
requests
requests-oauthlib
rich
rope
rsa
scikit-learn
scipy
seaborn
setuptools
sip
six
smmap
snowballstemmer
sortedcontainers
soupsieve
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
stack-data
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
text-unidecode
textdistance
threadpoolctl
three-merge
tinycss2
toml
tomli
tomlkit
toolz
tornado
tqdm
traitlets
typing-extensions
tzdata
tzlocal
ujson
urllib3
validators
watchdog
wcwidth
webencodings
whatthepatch
wheel
win-inet-pton
wordnet
wrapt
yapf
zipp
